@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    font-family: 'Roboto Condensed', sans-seri;
    margin: 0;
    background-color: #eee;
    height: auto;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(51, 51, 51, 0.144),
    -30px 0px 40px rgba(51, 51, 51, 0.144);
    border-radius: 3px;
}

h1{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}
h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
#landing-text{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}
#landing-text h2{
    color: #666;
}
.btn{
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 1px solid #999;
    border-radius: 60px;
    margin-top: 1.5rem;
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background;
    transition-duration: 1s;
}
.btn:hover{
    background-color: #555;
    color: #eee;
}
#landing-img{
    background-image: url('../images/lens.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: 0;
}
#header{
    padding: 1.5rem;
    text-align: center;
    background-color: #555;
    color: #eee;
}
#header  h2{
    display: inline-block;
    padding: 0 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
}
.caption{
    text-align: center;
    padding: 0.8rem;
}
footer{
    padding: 1rem;
    text-align: center;
    background-color: rgba(153, 153, 153, 0.13);
    margin-top: 2rem;
    color: #333;
}
footer h3{
    text-transform: uppercase;
    font-size: 2.5rem;
    margin-bottom: 0;
    
}
@media(min-width: 567px){
    #landing{
        display: flex;
        height: 100vh;
    }
    #landing-text{
        height: 100%;
        width: 40vw;
    }
    #landing-img{
        height: 100%;
        width: 60vw;
    }
}
@media (min-width: 700px){
    .btn{
        padding: 1rem 2rem;
        font-size: 1.4rem;
    }
}